*{
    margin: 0;
    padding: 0;
    /* background-color: grey; */
}

body{
    background-color: rgb(66, 58, 58);
    opacity: 0;
    transition: opacity 3s;
}
body::-webkit-scrollbar {
    width: 0.5em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
:root{
    --navbar-height: 70px;
}

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    /* justify-content: right; */
    font-family: 'Share Tech Mono', monospace;
}

#navbar::before{
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
    top: 0px;
    left: 0px;
}
/*navigation bar: logo and image */
#logo{
    /* height: 56px; */
    margin: 0px 16px;
}

#logo img{
    width: 101px; 
    height: 101px;
    margin: 5px;
}

/* navigation bar: list style */
#navbar ul{
    display: flex;
    justify-content: right;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    
}
#navbar ul li a{
    display: block;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    transition: all 0.5sec ease-in-out;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
    text-decoration: underline;
    box-shadow: 2px 2px black;
}

/* menu */

.container{
    display: grid;
    grid-template-columns: repeat(2,auto);
    /* text-align: right; */
}
.box{
    border: black solid 3px;
    height: 142px;
    padding: 30px;
    margin: 25px;
    width: auto;
    background-color: wheat;
    border-radius: 10px;
    box-shadow: 8px 8px 7px black;
    transition: all 0.5sec ease-in-out;
}
.box h1{
    text-align: center;
    width: auto;
    /* display: inline; */
}
.box img{
    width: 214px;
    float: left;
    margin: 0px 15px;
    border-radius: 10px;
    height: 150px;
}
.box:hover{
    box-shadow: 8px 8px grey;
}

/* utility classes */
a{
    text-decoration: none;
    color: black;
}
.h-primary{
    font-size: 3.8rem;
    padding: 20px;
    font-family: 'Share Tech Mono', monospace;
    color: wheat;
}

.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Share Tech Mono', monospace;
}
.btn{
    padding: 5px 15px;
    border: solid 3px brown;
    background-color: transparent;
    margin: 10px;
    /* font-size: 1.2rem; */
    border-radius: 10px;
    cursor: pointer;
    transition: all 0s ease-in-out;
}
/* .btn:hover{
    width: 200px;
    box-shadow:0px 4px red, 4px 0px black;

} */
.center{
    text-align: center;
}
.typed-out{
    overflow: hidden;
    border-right: solid rgb(0, 0, 0);
    white-space: nowrap;
    /* font-size: 1.6rem; */
    width: 0;
    animation: typing 2s steps(20, end) forwards;

}
@keyframes typing {
    from { width: 0 }
    to { width: 60% }
  }

.inline{
    display: inline;
}
.bold{
    font-weight: bold;
}
.price{
    font-size: 1.3rem;
    padding: 5px;
}
.desc{
    font-size: 17px;
}

/* *******************phone css for this page************************** */

@media only screen and (max-width:1200px){
    .container{
        display: grid;
        /* text-align: right; */
        grid-template-columns: auto;
    }
    #navbar {
        flex-direction: column;
    }
    
    #navbar ul li a{
        font-size: 1rem;
        padding: 0px 7px;
        padding-bottom: 8px;
    }
}